{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "semi": false,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true
}
